<app-my-header name = "Лабораторна робота №8-9"></app-my-header>


<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <h1>Завдання</h1>
      <p>Необхідно заповнити наступні дані: Навза кафедри, ПІБ завідувача кафедри, Кількість викладачів, Адреса</p>
      <h5>Інформація, яка додається динамічно:</h5>
      <p>Список викладачів кафедри</p>
    </ion-card-header>
    <ion-card-content>
      <app-viewform></app-viewform>
      <!-- <app-myform></app-myform> -->
    </ion-card-content>
  </ion-card>
</ion-content>
