<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №4
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Виконав студент групи КН-32<br> Боровіков Денис
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Лабораторні роботи</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>Завдання 1</ion-text>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>Варіант</ion-col>
            <ion-col>Батьківський клас</ion-col>
            <ion-col>Нащадки</ion-col>
            <ion-col>Методи</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>3</ion-col>
            <ion-col>Населений пункт (поле назва)</ion-col>
            <ion-col>Село (поле Кількість будинків-h, кількість мешканців в домі, площина села).<br /> Місто (поле кількість населення- h, площина міста)</ion-col>
            <ion-col>Щільність населення(населення/територія)</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-text>Завдання 2</ion-text>
      <ion-item>
        <ion-text>3. Знайти значення найменшої щільності населення</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-input type="number" value="5" #Inputn></ion-input>
      <ion-button (click)="ras(Inputn.value)">Розрахунок</ion-button>
      <p *ngFor="let set of settlement; let j = index" [ngStyle]="{color:getColor(set.density, min)}">{{set.show()}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №4
    </ion-title>
  </ion-toolbar>
</ion-footer>
