<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №1
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Виконав студент групи КН-32<br> Боровіков Денис
    </ion-title>
  </ion-toolbar>

  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Лабораторні роботи</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання №2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="p_background">На заданому проміжку чисел [a,b] знайдіть кількість чисел, які кратні 29, парні і при діленні на 5 дають в остачі 2.</p>
      <ion-item>
        <ion-label position="floating">Перше число</ion-label>
        <ion-input type="number" id="a" value="1" #Inputa></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Друге число</ion-label>
        <ion-input type="number" id="b" value="2" #Inputb></ion-input>
      </ion-item>
      <ion-button fill="outline" expand="block" color="tertiary" (click)="search(Inputa.value, Inputb.value)">Пошук кількості</ion-button>
      <ion-item>
        <p>
          Кількість чисел: {{c}}
        </p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №1
    </ion-title>
  </ion-toolbar>
</ion-footer>